/*CSS PARA INICIO*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display:inline-block;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.containerInicio{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.cardInicio{
    width: 325px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    overflow: hidden;
    margin: 20px;
}
.cardInicio:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
.cardInicio img{
    width: 250px;
    height: 250px;
    margin-left: 10%;
    margin-top: 12px;
    object-fit: cover;
}

.cardInicio .contenidoInicio{
    padding: 15px;
    text-align: center;
}
.cardInicio h3{
    font-size: 28px;
    margin-bottom: 8px;
}
.cardInicio a{
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: rgb(160, 4, 160);
    border: 1px solid rgb(160, 4, 160);
    border-radius: 4px;
    transition: all 400ms ease;
}
.textoInicio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

@media screen and (max-width:800px) {
    
}
/*CSS PARA INICIO */
/*CSS PARA AGOBIO ANSIEDAD Y AMOR PROPIO */